<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Kelly's Shoes: Let's Get Em!</title>
</head>
<body>
    <div class="container">
        <h1>{{ brand.getName }}</h1>
        <hr>
        {% if stores is not empty %}
            <p>Here are the stores that carry this brand:</p>
            <ul>
                {% for store in stores %}
                    <li>{{ store.getRetailer }}</li>
                    <ul>
                        <li>{{ store.getAddress }}</li>
                        <li>{{ store.getPhone }}</li>
                    </ul>
                {% endfor %}
            </ul>
        {% else %}
            <p>It appears we don't know of any stores that carry that brand.  Know of one?  Add it below!</p>
        {% endif %}

        <h4>Add an outlet for this brand:</h4>

        <form action="/add_store" method="post">
            <input id="brand_id" name="brand_id" type="hidden" value="{{ brand.getId() }}">
            <label for="store_id">Select a store:</label>
            <select name="store_id" id="store_id" type="text">
                {% for store in all_stores %}
                    <option value="{{ store.getId }}"> {{ store.getRetailer }} </option>
                {% endfor %}
            </select>
            <button class="btn btn-success" type="submit">Add store</button>
        </form>

        <p><a href="/brands">Back to list of brands</a></p>
        <p><a href="/">Home</a></p>
    </div>
</body>
</html>
